<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<script type="text/javascript" src="/ph_widget.js?url=draftsend.staging.producthabits.com/scores&amp;company=draftsend"></script>
